{% extends "base.html" %}
{% block content %}

<link href="/static/css/style.css" rel="stylesheet">
<div class="top-container">

</div>

<div class="container">

    <h3 class="demo-panel-title mbl pbl">吾儿们傻逼</h3>
    <div class="row demo-samples">
        <div class="col-xs-12">
            <video class="video-js" preload="auto" poster="/static/img/video/poster.jpg" data-setup="{}">
                <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
                <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
            </video>
        </div> <!-- /video -->
    </div>


</div>

<div class="bottom-container">

</div>
<script>
    videojs.options.flash.swf = "/static/js/vendors/video-js.swf"
</script>
{% endblock %}


