#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_5 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_6 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_7 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_8 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_3 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_10 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_11 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_12 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_13 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}