#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}