#s-aeb6f607-a319-43be-a8bf-0ed89be67797 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -162px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Master_item_1 {
  position: absolute;
  top: 588px;
  left: 0px;
  width: 992px;
  height: 333px;
  overflow: visible;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_1 {
  position: absolute;
  top: 141px;
  left: 30px;
  width: 233px;
  height: 176px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_2 {
  position: absolute;
  top: 141px;
  left: 300px;
  width: 626px;
  height: 412px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Line_1 {
  position: absolute;
  top: 203px;
  left: 321px;
  width: 568px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_1 {
  position: absolute;
  top: 157px;
  left: 545px;
  width: 174px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Arial,Arial;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_1 span {
  color: #6ACA6B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #6ACA6B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_6 {
  position: absolute;
  top: 430px;
  left: 320px;
  width: 282px;
  height: 37px;
  background-color: #679868;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Line_2 {
  position: absolute;
  top: 353px;
  left: 497px;
  width: 270px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_2 {
  position: absolute;
  top: 230px;
  left: 680px;
  width: 174px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Arial,Arial;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_2 span {
  color: #6ACA6B;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #6ACA6B;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_3 {
  position: absolute;
  top: 275px;
  left: 680px;
  width: 118px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_1 {
  position: absolute;
  top: 331px;
  left: 680px;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_2 {
  position: absolute;
  top: 331px;
  left: 717px;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_1 {
  position: absolute;
  top: 240px;
  left: 320px;
  padding-left: 8px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_1 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_2 {
  position: absolute;
  top: 305px;
  left: 320px;
  padding-left: 8px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_2 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_3 {
  position: absolute;
  top: 370px;
  left: 320px;
  padding-left: 8px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Input_3 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}