#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Line_2 {
  rotation: 90.0;
  margin-left: 134px;
  margin-top: -134px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aeb6f607-a319-43be-a8bf-0ed89be67797 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}