#s-c95676cf-ac24-429b-82c5-9e3a0970deea > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_9 {
  position: absolute;
  top: 1152px;
  left: 27px;
  width: 72px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_8 {
  position: absolute;
  top: 631px;
  left: 27px;
  width: 72px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_2 {
  position: absolute;
  top: 106px;
  left: 130px;
  width: 569px;
  height: 327px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_3 {
  position: absolute;
  top: 112px;
  left: 27px;
  width: 72px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_6 {
  position: absolute;
  top: 1213px;
  left: 53px;
  width: 20px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_1 {
  position: absolute;
  top: 119px;
  left: 35px;
  width: 56px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_2 {
  position: absolute;
  top: 447px;
  left: 136px;
  width: 245px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_2 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_2 span#rtr-s-Label_2_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_1 {
  position: absolute;
  top: 482px;
  left: 137px;
  width: 562px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_3 {
  position: absolute;
  top: 237px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_3 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_3 span#rtr-s-Label_3_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_4 {
  position: absolute;
  top: 257px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_4 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_4 span#rtr-s-Label_4_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_5 {
  position: absolute;
  top: 257px;
  left: 79px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_5 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_5 span#rtr-s-Label_5_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_6 {
  position: absolute;
  top: 288px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_6 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_6 span#rtr-s-Label_6_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_7 {
  position: absolute;
  top: 307px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_7 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_7 span#rtr-s-Label_7_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_8 {
  position: absolute;
  top: 356px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_8 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_8 span#rtr-s-Label_8_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_9 {
  position: absolute;
  top: 337px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_9 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_9 span#rtr-s-Label_9_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_10 {
  position: absolute;
  top: 638px;
  left: 35px;
  width: 56px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_11 {
  position: absolute;
  top: 966px;
  left: 136px;
  width: 245px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_11 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_11 span#rtr-s-Label_11_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_2 {
  position: absolute;
  top: 1001px;
  left: 137px;
  width: 562px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_12 {
  position: absolute;
  top: 756px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_12 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_12 span#rtr-s-Label_12_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_13 {
  position: absolute;
  top: 776px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_13 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_13 span#rtr-s-Label_13_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_14 {
  position: absolute;
  top: 776px;
  left: 79px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_14 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_14 span#rtr-s-Label_14_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_15 {
  position: absolute;
  top: 807px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_15 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_15 span#rtr-s-Label_15_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_16 {
  position: absolute;
  top: 826px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_16 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_16 span#rtr-s-Label_16_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_17 {
  position: absolute;
  top: 875px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_17 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_17 span#rtr-s-Label_17_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_18 {
  position: absolute;
  top: 856px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_18 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_18 span#rtr-s-Label_18_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_19 {
  position: absolute;
  top: 1159px;
  left: 35px;
  width: 56px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_19 span#rtr-s-Label_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_3 {
  position: absolute;
  top: 1522px;
  left: 137px;
  width: 562px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_21 {
  position: absolute;
  top: 1277px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_21 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_21 span#rtr-s-Label_21_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_22 {
  position: absolute;
  top: 1297px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_22 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_22 span#rtr-s-Label_22_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_23 {
  position: absolute;
  top: 1297px;
  left: 79px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_23 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_23 span#rtr-s-Label_23_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_24 {
  position: absolute;
  top: 1328px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_24 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_24 span#rtr-s-Label_24_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_25 {
  position: absolute;
  top: 1347px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_25 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_25 span#rtr-s-Label_25_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_26 {
  position: absolute;
  top: 1396px;
  left: 27px;
  width: 45px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_26 span {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_26 span#rtr-s-Label_26_0 {
  color: #98C601;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_27 {
  position: absolute;
  top: 1377px;
  left: 27px;
  width: 72px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_27 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_27 span#rtr-s-Label_27_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_28 {
  position: absolute;
  top: 577px;
  left: 136px;
  width: 563px;
  height: 15px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_28 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_28 span#rtr-s-Label_28_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_29 {
  position: absolute;
  top: 1096px;
  left: 136px;
  width: 563px;
  height: 15px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_29 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_29 span#rtr-s-Label_29_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_12 {
  position: absolute;
  top: 1152px;
  left: 134px;
  width: 565px;
  height: 330px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_10 {
  position: absolute;
  top: 630px;
  left: 134px;
  width: 565px;
  height: 322px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_1 {
  position: absolute;
  top: 1604px;
  left: 27px;
  width: 19px;
  height: 20px;
  background-color: #92B331;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #728A27;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #728A27;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #728A27;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #728A27;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_2 {
  position: absolute;
  top: 1604px;
  left: 56px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EAEAEA));
  background-image: -o-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: linear-gradient(to bottom,#FFFFFF,#EAEAEA);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B9B9B9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B9B9B9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B9B9B9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B9B9B9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_2 span#rtr-s-Button_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_3 {
  position: absolute;
  top: 1604px;
  left: 86px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EAEAEA));
  background-image: -o-linear-gradient(top,#FFFFFF,#EAEAEA);
  background-image: linear-gradient(to bottom,#FFFFFF,#EAEAEA);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B9B9B9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B9B9B9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B9B9B9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B9B9B9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_3 span#rtr-s-Button_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -162px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Master_item_1 {
  position: absolute;
  top: 1673px;
  left: 0px;
  width: 992px;
  height: 333px;
  overflow: visible;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_7 {
  position: absolute;
  top: 687px;
  left: 55px;
  width: 20px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_11 {
  position: absolute;
  top: 172px;
  left: 55px;
  width: 20px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_20 {
  position: absolute;
  top: 1487px;
  left: 136px;
  width: 245px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_20 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_20 span#rtr-s-Label_20_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Group_3 {
  position: absolute;
  top: 235px;
  left: 380px;
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_13 .content {
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 29px;
  height: 22px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_19 .content {
  width: 29px;
  height: 22px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_19 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 29px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_19 span#rtr-s-Triangle_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Group_4 {
  position: absolute;
  top: 767px;
  left: 368px;
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_14 .content {
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_20 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 29px;
  height: 22px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_20 .content {
  width: 29px;
  height: 22px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_20 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 29px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_20 span#rtr-s-Triangle_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Group_5 {
  position: absolute;
  top: 1302px;
  left: 365px;
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_15 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_15 .content {
  width: 70px;
  height: 70px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Ellipse_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_21 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 29px;
  height: 22px;
  position: absolute;
  overflow: hidden;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_21 .content {
  width: 29px;
  height: 22px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Triangle_21 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 29px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #shapewrapper-s-Triangle_21 span#rtr-s-Triangle_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}