{% extends 'indexbase.html' %}

{% block title %} 首页 {% endblock %}


{% load staticfiles %}
{% block maincontainer %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
        
<div class="main-instuction-div">
    <div class="instruction-div">
        <div class="nav-title">
            <span class="title">What I Can Do For You</span>
            <div class="title-right"></div>
        </div>

        <div class="row" >
            <div class="col-xs-8 col-sm-4">
                <div class="instuction-row-title row-title1">
                    <span class="title">
                        高效的学习方法
                    </span>
                </div>
                <div class="instuction-row-message">
                    <p>老子有一句名言：“授之以鱼，不如授之以渔”，
                        意思是说，给人以鱼吃，只能享用一时，不如
                        教人以捕鱼之法，让其能终身享用。基于此，
                        Big6的教学理念是：得法于课内，受益于课外
                        “。让学生在课堂内不讲能学到知识点，更能掌
                        握课下自学能力。</p>
                </div>
                <div class="instuction-row-btn">
                    <span class="more-btn">More</span>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4">
                <div class="instuction-row-title row-title2">
                    <span class="title">
                        扎实的计算能力
                    </span>
                </div>
                <div class="instuction-row-message">
                    <p>计算能力是归纳、转化和动手的能力，即把抽象的、复杂的数学表达式或数字通过数学方法转换为我们可以理解的数学式子的能力。扎实的计算能力，是提高数学、物理等学科能力的第一前提。基于此，Big6会结合学生实际情况，为每一个学生量身定做一套计算能力训练方法。</p>
                </div>
                <div class="instuction-row-btn">
                    <span class="more-btn">More</span>
                </div>
            </div>

            <div class="col-xs-8 col-sm-4">
                <div class="instuction-row-title row-title3">
                    <span class="title">
                        娴熟的解题技巧
                    </span>
                </div>
                <div class="instuction-row-message">
                    <p>所谓”磨刀不误砍柴工“，要想做题精准快，不必”题海战术“，而是应该在解题之前做好充分准备，这与”工欲善其事，必先利其器“道理类似。娴熟的解题技巧无异于一把利刃，帮助你在解题的路上披荆斩棘。基于此，Big6会总结不同题型的解题技巧，帮助学子透过现象看本质。</p>
                </div>
                <div class="instuction-row-btn">
                    <span class="more-btn">More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="instruction-div mid-high-div">
        <div class="nav-title">
            <span class="title">初中学习视频</span>
            <div class="title-right"></div>
        </div>
        <div class="row" >
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i3/649612466/TB2bPGGkVXXXXcSXXXXXXXXXXXX_!!649612466.gif" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">分式乘除</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i3/649612466/TB2bPGGkVXXXXcSXXXXXXXXXXXX_!!649612466.gif" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">与扇形有关的计算</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                     </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i1/649612466/TB285utkVXXXXbXXpXXXXXXXXXX_!!649612466.jpg" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">二次函数的图像平移</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i3/649612466/TB2bPGGkVXXXXcSXXXXXXXXXXXX_!!649612466.gif" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">伏安法总结</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>

    <div class="instruction-div">
        <div class="nav-title">
            <span class="title">高中学习视频</span>
            <div class="title-right"></div>
        </div>
        <div class="row" >
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i3/649612466/TB2bPGGkVXXXXcSXXXXXXXXXXXX_!!649612466.gif" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">等差数列前n项和小技巧</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i2/649612466/TB2CR9GkVXXXXcPXXXXXXXXXXXX_!!649612466.jpg" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">法向量新解法</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i3/649612466/TB2bPGGkVXXXXcSXXXXXXXXXXXX_!!649612466.gif" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">数列错位相减--函数法</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="row-vedio">
                    <img src="https://img.alicdn.com/imgextra/i4/649612466/TB2iGapkVXXXXasXpXXXXXXXXXX_!!649612466.jpg" style="width: 100%;
                    height: 100%;" />
                </div>
                <div class="row-title">
                    <span class="title">瞬间击破法--化学推导题</span>
                </div>
                <div class="operation-div">
                    <a>
                        web
                    </a><span>|</span>
                    <a>
                        audio
                    </a><span>|</span>
                    <a>
                        video
                    </a>
                    <img style="margin-left: 20px;" src="{% static 'img/message.png' %}">
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}