{% extends 'lessonbase.html' %}

{% block title %} 课程{% endblock %}

{% block lessonbody %}
<div class="lesson-div">
    <div class="row" >
        <div class="col-xs-4 col-sm-2">
            <div class="tag-div">
                <div class="date-tag">
                    <span class="month-date-time">JAN 12</span>
                </div>
            </div>
        </div>
        <div class="col-xs-20 col-sm-10">
            <div class="login-container">

            </div>
        </div>
    </div>
</div>
{% endblock %}