{% extends 'lessonbase.html' %}

{% block title %} 课程{% endblock %}

{% block lessonbody %}
<div class="lesson-div">
    <div class="row" >
        <div class="col-xs-4 col-sm-2 left-nav">
            <div class="tag-div">
                <div class="date-tag">
                    <span class="month-date-time">JAN 12</span>
                    <div style="margin-top: 25px;">
                        <span class="glyphicon glyphicon-play play-btn" ></span>
                    </div>
                </div>
                <div class="tags-select">
                    <span class="tags-title">Tags</span>
                    <div class="tags-select-div">
                        <a class="#" >Gallery</a>
                        <span style="font-size: 15px;"> | </span>
                        <a class="#" >Movie</a>
                    </div>
                </div>
                <div class="tags-select">
                    <span class="tags-title">Commonts</span>
                    <div class="tags-select-div">
                        <span class="" >4</span>
                    </div>
                </div>
                <div class="tags-select">
                    <span class="tags-title">Likes</span>
                    <div class="tags-select-div">
                        <span class="" >12</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-20 col-sm-10 right-nav">
            <div class="vedio-div">
                <img src="https://img.alicdn.com/imgextra/i4/649612466/TB21f3ylXXXXXc_XXXXXXXXXXXX_!!649612466.png" />
            </div>
        </div>
    </div>
</div>
{% endblock %}