#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 > .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 132px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_8 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_11 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_13 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_14 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_17 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_18 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Ellipse_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Triangle_19 {
  -ms-transform: rotate(90.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Ellipse_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Triangle_20 {
  -ms-transform: rotate(90.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}