#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 > .valign {
  vertical-align: middle;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_6 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 132px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}