.header{
    background:#222;
    background-repeat:no-repeat;
    background-position:center 0;
    -webkit-background-size:cover;
    background-size:cover;padding:138px 0 0;
    text-align:center;
    min-height:400px;
    position:relative
}
.logoimg{
    position:absolute;
    left:1%;right:1%;bottom:-34px
}
.logotxt{
    margin-bottom:30px;
    border:0
}
.logotxt a{
    font-weight:700;
    color:#fff;
    font-size:64px
}
.header h2{
    color:#fff;
    padding:0;
    margin:0 0 45px;
    font-weight:100;
    font-size:34px
}
.site-name>span{
    display:none;
    margin-top:6px;
    font-size:65%
}

.main-footer{
    background:#202020;
    padding:35px 0 0;
    color:#959595
}
.main-footer .widget{
    padding:0 30px
}
.main-footer .widget .title{
    color:#fff;
    border-bottom:1px solid #303030
}
.main-footer .widget .tag-cloud a{
    border:1px solid #303030
}
.main-footer .widget .tag-cloud a:hover{
    border:1px solid #337ab7
}
.copyright{
    background:#111;
    font-size:13px;
    text-align:center;
    color:#555;
    padding-top:14px;
    padding-bottom:20px;
    border-top:1px solid #303030
}
.copyright span{
    margin:0 .5em
}
.copyright a{
    color:#555
}
#back-to-top{
    position:fixed;
    right:10px;
    bottom:10px;
    background:rgba(51,122,183,0.6);
    color:#fff;
    text-align:center;
    border-radius:2px;
    z-index:1;display:none
}
#back-to-top:hover{
    background:#337ab7
}
#back-to-top i{
    width:30px;
    height:30px;
    line-height:30px
}