.header{
    background: url("../img/head_bg.png") repeat-x;
    background-position:center 0;
    -webkit-background-size:cover;
    text-align:center;
    height: 70px;
    min-height:70px;
    position:relative
}

input[type="text"], input[type="password"] {
    background: no-repeat 0 0 scroll #fff;
    outline: medium;
}

#menu-nav{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#menu-logo-nav{
    float: left;
    width: 90px;
    position: relative;
}
#menu-logo-nav img{
    width: 100%;
    height: 70px;
}

#menu-select-nav{
    float: right;
}

#menu-select-nav #menu-nav-ul{
    height: 100%;
    width: 100%;
    margin: 0;
    position:relative
}
#menu-select-nav .menu-nav-li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    height: 100%;
    padding-top: 22px;
}
#menu-select-nav .menu-nav-li a{
    color: #e0e0e0;
    font-size: 18px;
    vertical-align: middle;
}
#menu-select-nav .menu-nav-li .icon{
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
}
#menu-select-nav .menu-nav-li .search-div{
    position: relative;
    display: inline-block;
}
#menu-select-nav .menu-nav-li .search-div .search-icon{
    height: 40px;
    color: #fff;
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
}
#menu-select-nav .menu-nav-li .search-div .search-text-input{
    background: #222;
    padding: 5px 20px 5px 30px;
    height: 30px;
    border-radius: 15px;
    color: #f0f0f0;
    border: 0;
}

.main-footer{
    width: 1000px;
    margin: 0 auto;
    height: 332px;
    background: url("../img/footer_bg.png") repeat-x;
    border-radius: 15px;
    color:#e0e0e0;
}
.main-footer .container{
    width: 980px;
    height: 260px;
    margin: 0 auto;
}
.main-footer .footer-title{
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px #888 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 8px auto;
}

.main-footer .footer-title .title{
    color: #fff;
    border-left: 5px solid #85a737;
    padding-left: 15px;
}

.main-footer .footer-title .title-right{
    width: 60px;
    float: right;
    height: 20px;
}
.main-footer .footer-message{
    margin-top: 15px;
}
.main-footer .footer-message p{
    margin-top: 20px;
}

.copyright{
    font-size:13px;
    text-align:center;
    color:#777;
    margin-top: 10px;
    padding-top: 15px;
}
.copyright span{
    margin:1em
}
.copyright a{
    color:#777
}
#back-to-top{
    position:fixed;
    right:10px;
    bottom:10px;
    background:rgba(51,122,183,0.6);
    color:#fff;
    text-align:center;
    border-radius:2px;
    z-index:1;display:none
}
#back-to-top:hover{
    background:#337ab7
}
#back-to-top i{
    width:30px;
    height:30px;
    line-height:30px
}


.nav-title{
    color: #666;
    border-left: 5px solid #85a737;
    padding-left: 15px;
    font-weight: 700;
    font-size: 20px;
}
.nav-title .title-right{
    float: right;
    height: 30px;
    width: 400px;
    background: url("../img/title_right.png") repeat-x;
    background-position:center 0;
    -webkit-background-size:cover;

}