#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 {
  position: absolute;
  top: 109px;
  left: 162px;
  width: 980px;
  height: 321px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/5a6c2f35-5e7f-4eee-aad3-916a216de11e.PNG');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 span#rtr-m-1ea7ee48-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 {
  position: absolute;
  top: 123px;
  left: 187px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 span#rtr-m-1ea7ee48-Label_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 {
  position: absolute;
  top: 124px;
  left: 346px;
  width: 65px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 span#rtr-m-1ea7ee48-Label_2_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_1 {
  position: absolute;
  top: 158px;
  left: 184px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 {
  position: absolute;
  top: 182px;
  left: 185px;
  width: 226px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 span#rtr-m-1ea7ee48-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 {
  position: absolute;
  top: 182px;
  left: 428px;
  width: 221px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 span#rtr-m-1ea7ee48-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 {
  position: absolute;
  top: 124px;
  left: 573px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 span#rtr-m-1ea7ee48-Label_3_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 {
  position: absolute;
  top: 123px;
  left: 425px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 span#rtr-m-1ea7ee48-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_2 {
  position: absolute;
  top: 158px;
  left: 422px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 {
  position: absolute;
  top: 123px;
  left: 667px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 span#rtr-m-1ea7ee48-Label_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 {
  position: absolute;
  top: 124px;
  left: 815px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 span#rtr-m-1ea7ee48-Label_6_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_3 {
  position: absolute;
  top: 158px;
  left: 664px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 {
  position: absolute;
  top: 182px;
  left: 667px;
  width: 221px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 {
  position: absolute;
  top: 124px;
  left: 1055px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 span#rtr-m-1ea7ee48-Label_7_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 {
  position: absolute;
  top: 123px;
  left: 907px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 span#rtr-m-1ea7ee48-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_4 {
  position: absolute;
  top: 158px;
  left: 904px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 {
  position: absolute;
  top: 395px;
  left: 330px;
  width: 378px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 span#rtr-m-1ea7ee48-Rich_text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 {
  position: absolute;
  top: 382px;
  left: 888px;
  width: 243px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 span#rtr-m-1ea7ee48-Rich_text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_11 {
  position: absolute;
  top: 369px;
  left: 192px;
  width: 116px;
  height: 73px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_1 {
  position: absolute;
  top: 174px;
  left: 931px;
  width: 110px;
  height: 152px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}