<html>
  <body>
    <div class="ui-page">
         <div id="t-c6c716c7-1186-4ff9-8902-e9f54335788d" class="template growth-both firer commentable" name="Page template" width="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="center">
           <link type="text/css" rel="stylesheet" href="./resources/templates/c6c716c7-1186-4ff9-8902-e9f54335788d-1456415008234.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/c6c716c7-1186-4ff9-8902-e9f54335788d-1456415008234-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/c6c716c7-1186-4ff9-8902-e9f54335788d-1456415008234-ie8.css" /><![endif]-->
           <div id="t-Dynamic_Panel_1" class="dynamicpanel firer ie-background commentable">
             <div id="t-Panel_1" class="panel default firer ie-background commentable" >
                 <table class="layout" summary="">
                   <tr>
                     <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="right"><div id="t-Label_1" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_1_0">首页</span></div></div></div><div id="t-Input_2" class="text firer mouseenter mouseleave focusout ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="课程分类" maxlength="100" readonly="readonly" tabindex="-1" /></div>  </div></div><div id="t-Label_4" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0">注册/登陆</span></div></div></div><div id="t-Label_6" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_6_0">联系我们</span></div></div></div></td> 
                   </tr>
                 </table>

             </div>
           </div>
           <div id="t-Rich_text_1" class="pie richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_1_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_2" class="image firer ie-background commentable"    alt="image" src="./images/81c5134c-f1ce-4bb8-8440-23a9fefeff24.png"/>
           <div id="t-Input_1" class="text firer ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="" maxlength="100"  tabindex="-1" /></div>  </div></div>
           <div id="t-Label_7" class="label singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_7_0"></span></div></div></div>
           <div id="t-Label_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0">About 分式乘除</span></div></div></div>
           <div id="t-Rich_text_2" class="richtext firer ie-background commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_2_0">一些简介</span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Label_10" class="label singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_10_0"></span></div></div></div>
           <div id="t-Label_11" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_11_0">相关视频</span></div></div></div>
           <div id="t-Label_12" class="label singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_12_0"></span></div></div></div>
           <img id="t-Image_12" class="image firer ie-background commentable"    alt="image" src="./images/dfa86ff2-a463-4097-80b5-6b7ba78dc910.jpg"/>
           <div id="t-Rich_text_10" class="richtext firer ie-background commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_10_0">分式化简</span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_17" class="image firer ie-background commentable"    alt="image" src="./images/7585ea46-09e9-4b9a-b4f2-1a8e70253237.png"/>
           <div id="t-Label_13" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_13_0">web</span></div></div></div>
           <div id="t-Label_14" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_14_0">audio</span></div></div></div>
           <div id="t-Label_15" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_15_0">video</span></div></div></div>
           <img id="t-Image_18" class="image firer ie-background commentable"    alt="image" src="./images/67f7fb04-f251-49e5-bfa0-3f5fab36b867.png"/>
           <div id="t-Label_16" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_16_0">5</span></div></div></div>
           <img id="t-Image_14" class="image firer ie-background commentable"    alt="image" src="./images/e45f40d7-28e5-4b73-a0d7-19562a125ed4.jpg"/>
           <div id="t-Rich_text_12" class="richtext firer ie-background commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_12_0">整</span><span id="rtr-t-Rich_text_12_1">式除法</span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_21" class="image firer ie-background commentable"    alt="image" src="./images/7585ea46-09e9-4b9a-b4f2-1a8e70253237.png"/>
           <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0">web</span></div></div></div>
           <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0">audio</span></div></div></div>
           <div id="t-Label_19" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_19_0">video</span></div></div></div>
           <img id="t-Image_22" class="image firer ie-background commentable"    alt="image" src="./images/67f7fb04-f251-49e5-bfa0-3f5fab36b867.png"/>
           <div id="t-Label_20" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_20_0">5</span></div></div></div>
           <div id="t-Label_22" class="label singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_22_0"></span></div></div></div>
           <img id="t-Image_3" class="image firer ie-background commentable"    alt="image" src="./images/b600dcf0-8b57-4109-beab-d51e348741c6.JPG"/>
           <div id="t-Group_3" class="group firer ie-background commentable">
             <div id="t-Ellipse_13" class="ellipse shape non-processed-shape firer commentable"  >
               <div class="shapert-clipping">
                   <div class="content">
                     <div class="valign">
                        <span id="rtr-t-Ellipse_13_0"></span>
                     </div>
                   </div>
               </div>
             </div>
             <div id="t-Triangle_19" class="triangle shape non-processed-shape firer commentable" path="M 10 0 L 21 16 L 0 16 Z" rotationdeg="90" >
                 <div class="shapert-clipping">
                    <div class="content">
                     <div class="valign">
                         <span id="rtr-t-Triangle_19_0"></span>
                     </div>
                    </div>
                 </div>
             </div>
           </div>
           <div id="t-Group_4" class="group firer ie-background commentable">
             <div id="t-Ellipse_14" class="ellipse shape non-processed-shape firer commentable"  >
               <div class="shapert-clipping">
                   <div class="content">
                     <div class="valign">
                        <span id="rtr-t-Ellipse_14_0"></span>
                     </div>
                   </div>
               </div>
             </div>
             <div id="t-Triangle_20" class="triangle shape non-processed-shape firer commentable" path="M 10 0 L 21 16 L 0 16 Z" rotationdeg="90" >
                 <div class="shapert-clipping">
                    <div class="content">
                     <div class="valign">
                         <span id="rtr-t-Triangle_20_0"></span>
                     </div>
                    </div>
                 </div>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>