<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template growth-both firer commentable" name="Template 1" width="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="center">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1456415008234.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1456415008234-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1456415008234-ie8.css" /><![endif]-->
           <div id="t-Dynamic_Panel_1" class="dynamicpanel firer ie-background commentable">
             <div id="t-Panel_1" class="panel default firer ie-background commentable" >
                 <table class="layout" summary="">
                   <tr>
                     <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="right"><div id="t-Label_1" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_1_0">首页</span></div></div></div><div id="t-Input_2" class="text firer mouseenter mouseleave focusout ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="课程分类" maxlength="100" readonly="readonly" tabindex="-1" /></div>  </div></div><div id="t-Label_4" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0">注册/登陆</span></div></div></div><div id="t-Label_6" class="label singleline firer click mouseenter mouseleave ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_6_0">联系我们</span></div></div></div></td> 
                   </tr>
                 </table>

             </div>
           </div>
           <div id="t-Rectangle_1" class="pie richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_1_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_3" class="image firer ie-background commentable"    alt="image" src="./images/81c5134c-f1ce-4bb8-8440-23a9fefeff24.png"/>
           <div id="t-Input_1" class="text firer ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="" maxlength="100"  tabindex="-1" /></div>  </div></div>
           <img id="t-Image_4" class="image firer ie-background commentable"    alt="image" src="./images/b600dcf0-8b57-4109-beab-d51e348741c6.JPG"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>